greetings: [
    "hello"
    "hi"
    "hiya"
    "sup"
    "greetings"
    "yo(?! mama)"
    "salutaions"
    "hey"
    "hai"
    "heyo"
    "hiyo"
    "heya"
    "wazzup"
    "howdy"
]
farewells: [
    "ciao"
    "bye"
    "farewell"
    "goodbye"
    "toodles"
    "adios"
    "sayonara"
    "bai"
    "bubbai"
    "laterz"
    "taking off"
    "leaving"
    "heading out"
    "see ?ya"
]