exitOnError: false

# prefixes to start a message with in order to do something different
prefixes:
    command: "!"
    whisper: "@"

# channel name is included by default
keywords: []

# the time it takes for a user to be able to use more advanced bot commands (like quote and such)
userTrustTime: 120

# users that don't appear on the bot
blacklist: []