exitOnException: false

prefixes:
    basic: "!"
    mod: "^"
    admin: "@"

logChats: true

modules:
    points:
        enabled: true
        startWith: 5
        perMinute: 1

    customCommands:
        enabled: true

    quotes:
        enabled: true

# channel name is included by default
keywords: []

# the time it takes for a user to be able to use more advanced bot commands (like quote and such)
userTrustTime: 120

blacklist: []