bot:
    stop: "{0} has left the chat."
    restart: "{0} is restarting."
    notLive: "{0} is not live!"
    time: "{0} has been streaming for {1} hours and {2} minutes."

    users:
        rankUp: "{displayName} is now a trusted user!"
        list: "{0..?Chatters~: {0*, }:There are no users in the chat!}"
        join: "{displayName} has joined!"
        part: "{displayName} has left."

messages:
    format: "{time}{user? {user.displayName}{action?:~:}} {message}"
    showCommandCalls: true
    showBotChatMessagesInConsole: true
    timestamp:
        format: "{hour}:{minute}:{second}"
        am: "AM"
        pm: "PM"

list:
    size:
        default: 3
        max: 10

fail:
    default: "Sorry, {0.displayName}, there was an unknown error."

core:
    time:
        normal: "{2?You have:{0.displayName} has} {0.time} minutes logged{2?, {0.displayName}}!"
        blacklisted: "{1?Your:{2?My own:{0.displayName}'s}} amount of time logged exceeds the limits of my computational power{1?, {0.displayName}}."
        unknown: "It seems {1?you're:'{0.displayName}' is} not in my database yet{1?, {0.displayName}}."

    rank:
        notExist: "There's no user by the name '{0}'"
        invalid: "'{0}' is not a valid rank"
        success: "Successfully changed {0.displayName}'s rank to {1}"

    whois: "{0.name}{1? [{1}]}: {2}"

points:
    distributeSuccess: "A total of {0} points was distributed to {1} users."
    taxSuccess: "A total of {0} points was taxed from {1} users."

    balance:
        normal: "{2?You have:{0.displayName} has} {1} points{2?, {0.displayName}}!"
        blacklisted: "{1?Your:{2?My own:{0.displayName}'s}} balance exceeds the limits of my computational power{1?, {0.displayName}}."
        unknown: "It seems {1?you're:{0} is} not in my database yet{1?, {0.displayName}}."

    firstjoin: "Gave {0.displayName} {1} points for joining for the first time."
    joinInfo: "{0.displayName} has {1} points!"

    top: "Top {0}: {1*, :{&.user}~: {&.count}}"

    donate:
        notEnough: "You are short {1} points, {0.displayName}"
        notExist: "{1} is not a valid user, {0.displayName}"
        success: "{0.displayName} has given {1.displayName} {2} points!"

quote:
    normal: "The quote by {0.displayName} was added! \"{1}\""
    unknown: "It seems {0} not in my database yet!"
    rank: "Only regulars can use this command, {0.displayName}."
    syntax: "Proper syntax: !quote User Some text here."

raffle:
    winner: "{0}, winner is you!"
    noWinner: "There was no valid users found for the raffle."

recite:
    normal: "\"{0.quote}\" -{0.author}, {1} (Added by {0.added})"
    noQuotes: "There are no quotes in my database yet!"

commands:
    logCommandFails: false
    notFound: "{1.displayName} tried to run the command '{0}' but it doesn't exist"

    notExist: "The custom command by name '{0}' does not exist"
    create:
        success: "Command '{0}' was successfully added"
        fail: "Command '{0}' could not be added"
        exist: "Command '{0}' already exists"
    edit:
        success: "Command '{0}' was successfully edited"
        fail: "Command '{0}' could not be edited"
    remove:
        success: "Command '{0}' was successfully removed"
        fail: "Command '{0}' could not be removed"
    rename:
        success: "Command '{0}' was successfully renamed to '{1}'"
        fail: "Command '{0}' could not be renamed"
