stopTheBot: "{0} has left the chat."
notLive: "{0} is not live!"
streamTime: "{0} has been streaming for {1} hours and {2} minutes."
trustUser: "{0} is now a trusted user!"

listUsers: "{0..?Chatters~: {0*, }:There are no users in the chat!}"

messages:
    # {0} = timestamp
    # {1} = user
    # {2} = message
    format: "{1?{0} {1.name}~::{0}} {2}"
    showCommandCalls: true
    showBotChatMessagesInConsole: true
    timestamp:
        # {0} = hour
        # {1} = hour 1-12
        # {2} = minute
        # {3} = second
        # {4} = a/p
        format: "{0}:{2}:{3}"
        am: "AM"
        pm: "PM"

list:
    size:
        default: 3
        max: 10

fail:
    default: "Sorry, {0}, there was an unknown error."

core:
    time:
        normal: "{2?You have:{0} has} {1} minutes logged{2?, {0}}!"
        blacklisted: "{1?Your:{2?My own:{0}'s}} amount of time logged exceeds the limits of my computational power{1?, {0}}."
        unknown: "It seems {1?you're:{0} is} not in my database yet{1?, {0}}."

    rank:
        notExist: "There's no user by the name '{0}'"
        invalid: "'{0}' is not a valid rank"
        success: "Successfully changed {0.name}'s rank to {1}"

points:
    distributeSuccess: "A total of {0} points was distributed to {1} users."
    taxSuccess: "A total of {0} points was taxed from {1} users."

    balance:
        normal: "{2?You have:{0} has} {1} points{2?, {0}}!"
        blacklisted: "{1?Your:{2?My own:{0}'s}} balance exceeds the limits of my computational power{1?, {0}}."
        unknown: "It seems {1?you're:{0} is} not in my database yet{1?, {0}}."

    firstjoin: "Gave {0} {1} points for joining for the first time."
    joinInfo: "{0} has {1} points!"

    top: "Top {0}: {1*, :{&.user}~: {&.count}}"

quote:
    normal: "\"{1}\" quote added for {0}!"
    unknown: "It seems {0} not in my database yet!"
    rank: "Only regulars can use this command, {0}."
    syntax: "Proper syntax: !quote User Some text here."

commands:
    logCommandFails: false
    notFound: "{1} tried to run the command '{0}' but it doesn't exist"

    notExist: "Command '{0}' does not exist"
    create:
        success: "Command '{0}' was successfully added"
        fail: "Command '{0}' could not be added"
        exist: "Command '{0}' already exists"
    edit:
        success: "Command '{0}' was successfully edited"
        fail: "Command '{0}' could not be edited"
    remove:
        success: "Command '{0}' was successfully removed"
        fail: "Command '{0}' could not be removed"
    rename:
        success: "Command '{0}' was successfully renamed to '{1}'"
        fail: "Command '{0}' could not be renamed"