bot: 'grey.bold'
event:
    join: 'cyan.bold'
    leave: 'grey'
    command: 'grey.bold'

user: 'white.dim'
moderator: '#user'
broadcaster: '#user'
points: 'green.bold'
greeting: 'magenta.bold.underline'
farewell: '#greeting'
keyword: 'yellow.bold.underline'

console:
    info: 'grey'
    error: 'red.bold'
    data: 'cyan.bold'